# Aprendizaje automático I

In [81]:
import pandas as pd
from etl import preprocess_data  # Importa la función desde etl.py

In [82]:
# Carga los archivos CSV de reservas y hoteles
df_book = pd.read_csv('data/bookings_train.csv')
df_hotel = pd.read_csv('data/hotels.csv')

# Une los dos datasets por la columna 'hotel_id'
df = pd.merge(df_book, df_hotel, on='hotel_id')

# Llama a la función preprocess_data
df_preprocessed, df_validation_preprocessed = preprocess_data(df)

In [83]:
print("DataFrame preprocesado:")
df_preprocessed

DataFrame preprocesado:

,room_type,required_car_parking_spaces,special_requests,rate,total_guests,hotel_type,parking,restaurant,pool_and_spa,avg_review,...,advance_reservation_days,board_FB,board_SC,distribution_channel_Direct,distribution_channel_TA/TO,country_POR,country_SPA,market_segment_Complementary,market_segment_Direct,market_segment_Leisure
0,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
2,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
3,1,0,1,0.520093,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
4,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.875073,0,0,0,0,0,1,0,0,0
5,1,0,1,-0.777572,-0.391126,1,0,1,0,1.384783,...,-0.572273,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50731,1,0,1,0.926102,0.936320,0,0,1,0,0.818808,...,-0.742598,0,0,0,1,0,1,0,0,1
50734,0,0,1,2.678130,0.936320,0,0,1,0,0.818808,...,-0.742598,0,0,0,1,0,1,0,0,1
50735,1,0,1,-0.595931,0.936320,0,0,1,0,0.818808,...,-0.818298,0,0,0,1,0,1,0,0,1
50736,1,0,1,1.389601,0.936320,0,0,1,0,0.818808,...,1.130974,0,0,1,0,0,1,0,1,0
50739,1,0,1,2.915392,0.936320,0,0,1,0,0.818808,...,1.074199,0,0,0,1,0,1,0,0,1

In [78]:
# Matriz de correlación
corr_matrix = df_preprocessed.corr()

# Filtrar solo las correlaciones de la variable 'cancelled_last_30_days'
corr_cancelled_last_30_days = corr_matrix[['cancelled_last_30_days']].sort_values(by='cancelled_last_30_days', ascending=False)

# Convertir las correlaciones a un DataFrame
correlation_df = corr_cancelled_last_30_days.reset_index()

# Imprimir el DataFrame de correlaciones
print(correlation_df)

                           index  cancelled_last_30_days
0         cancelled_last_30_days                1.000000
1         market_segment_Leisure                0.093835
2                       board_SC                0.078343
3     distribution_channel_TA/TO                0.076831
4                     hotel_type                0.049274
5                           rate                0.039864
6                       board_FB                0.039673
7                    country_SPA                0.024782
8                      room_type                0.024503
9   market_segment_Complementary               -0.024841
10                    restaurant               -0.032190
11                   country_POR               -0.054881
12                    avg_review               -0.068523
13      advance_reservation_days               -0.079858
14                  pool_and_spa               -0.085390
15   distribution_channel_Direct               -0.086480
16                  total_guests               -0.086545
17         market_segment_Direct               -0.088902
18              special_requests               -0.091000
19                       parking               -0.113538
20   required_car_parking_spaces               -0.168973

In [79]:
# Matriz de correlación
corr_matrix = df_preprocessed.corr()

# Filtrar solo las correlaciones de la variable 'cancelled_last_30_days'
corr_cancelled_last_30_days = corr_matrix['cancelled_last_30_days']

# Filtrar correlaciones positivas y negativas
positive_correlations = corr_cancelled_last_30_days[corr_cancelled_last_30_days > 0]
negative_correlations = corr_cancelled_last_30_days[corr_cancelled_last_30_days < 0]

# Sumar las correlaciones positivas y restar 1
positive_sum = positive_correlations.sum() - 1

# Sumar las correlaciones negativas en valor absoluto
negative_sum = negative_correlations.abs().sum()

# Normalizar las sumas
total_sum = positive_sum + negative_sum
normalized_positive_sum = positive_sum / total_sum
normalized_negative_sum = negative_sum / total_sum

# Imprimir los resultados
print(f"Suma de correlaciones positivas menos 1: {positive_sum}")
print(f"Suma de correlaciones negativas en valor absoluto: {negative_sum}")
print(f"Suma normalizada de correlaciones positivas: {normalized_positive_sum}")
print(f"Suma normalizada de correlaciones negativas: {normalized_negative_sum}")

Suma de correlaciones positivas menos 1: 0.4271051158811052
Suma de correlaciones negativas en valor absoluto: 0.9811229282272073
Suma normalizada de correlaciones positivas: 0.30329257940005555
Suma normalizada de correlaciones negativas: 0.6967074205999445

In [80]:
print("\nDataFrame de validación preprocesado:")
df_validation_preprocessed  # Imprime las primeras filas del DataFrame de validación preprocesado

DataFrame de validación preprocesado:

,board,market_segment,distribution_channel,room_type,required_car_parking_spaces,special_requests,stay_nights,rate,total_guests,arrival_date,...,hotel_type,country,parking,total_rooms,restaurant,pool_and_spa,avg_review,days_diff,cancelled_last_30_days,advance_reservation_days
31,BB,Business,Corporate,1,0,1,1,67.00,3,2017-08-23,...,1,SPA,0,126,1,0,4.75,3,0,3
756,BB,Business,Corporate,1,0,1,1,67.00,3,2017-08-22,...,1,SPA,0,126,1,0,4.75,0,0,0
898,BB,Business,Corporate,1,0,1,1,65.00,3,2017-07-16,...,1,SPA,0,126,1,0,4.75,2,0,2
899,BB,Business,Corporate,1,0,1,3,195.00,3,2017-07-04,...,1,SPA,0,126,1,0,4.75,3,0,3
993,BB,Business,Corporate,1,0,1,1,80.00,3,2017-08-30,...,1,SPA,0,126,1,0,4.75,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49181,BB,Leisure,TA/TO,0,0,1,2,342.00,4,2017-08-04,...,0,SPA,0,45,1,0,4.54,1,0,1
49182,BB,Leisure,TA/TO,1,0,1,2,328.00,4,2017-08-04,...,0,SPA,0,45,1,0,4.54,2,0,2
49194,BB,Leisure,TA/TO,1,0,1,4,743.96,4,2017-08-01,...,0,SPA,0,45,1,0,4.54,31,0,31
50085,HB,Leisure,TA/TO,1,0,1,1,231.00,4,2017-08-19,...,0,SPA,0,45,1,0,4.54,3,0,3
50484,BB,Leisure,Direct,1,0,1,1,230.00,4,2017-08-12,...,0,SPA,0,45,1,0,4.54,24,0,24