# Aprendizaje autom√°tico I

In [25]:
#Cargar el conjunto de datos
import pandas as pd

# Cargo el conjunto de datos de entrenamiento
df_preprocessed = pd.read_csv("data/data_processed/train_preprocessed.csv")
df_preprocessed

,room_type,required_car_parking_spaces,special_requests,rate,total_guests,hotel_type,parking,restaurant,pool_and_spa,avg_review,...,advance_reservation_days,board_FB,board_SC,distribution_channel_Direct,distribution_channel_TA/TO,country_POR,country_SPA,market_segment_Complementary,market_segment_Direct,market_segment_Leisure
0,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
1,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
2,1,0,1,0.520093,-0.391126,1,0,1,0,1.384783,...,-0.818298,0,0,0,0,0,1,0,0,0
3,1,0,1,-1.184700,-0.391126,1,0,1,0,1.384783,...,-0.875073,0,0,0,0,0,1,0,0,0
4,1,0,1,-0.777572,-0.391126,1,0,1,0,1.384783,...,-0.572273,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37290,1,0,1,0.926102,0.936320,0,0,1,0,0.818808,...,-0.742598,0,0,0,1,0,1,0,0,1
37291,0,0,1,2.678130,0.936320,0,0,1,0,0.818808,...,-0.742598,0,0,0,1,0,1,0,0,1
37292,1,0,1,-0.595931,0.936320,0,0,1,0,0.818808,...,-0.818298,0,0,0,1,0,1,0,0,1
37293,1,0,1,1.389601,0.936320,0,0,1,0,0.818808,...,1.130974,0,0,1,0,0,1,0,1,0
37294,1,0,1,2.915392,0.936320,0,0,1,0,0.818808,...,1.074199,0,0,0,1,0,1,0,0,1

In [26]:
# Cargo el conjunto de datos de validaci√≥n
df_validation = pd.read_csv("data/data_processed/validation_preprocessed.csv")
df_validation

,board,market_segment,distribution_channel,room_type,required_car_parking_spaces,special_requests,stay_nights,rate,total_guests,arrival_date,...,hotel_type,country,parking,total_rooms,restaurant,pool_and_spa,avg_review,days_diff,cancelled_last_30_days,advance_reservation_days
0,BB,Business,Corporate,1,0,1,1,67.00,3,2017-08-23,...,1,SPA,0,126,1,0,4.75,3,0,3
1,BB,Business,Corporate,1,0,1,1,67.00,3,2017-08-22,...,1,SPA,0,126,1,0,4.75,0,0,0
2,BB,Business,Corporate,1,0,1,1,65.00,3,2017-07-16,...,1,SPA,0,126,1,0,4.75,2,0,2
3,BB,Business,Corporate,1,0,1,3,195.00,3,2017-07-04,...,1,SPA,0,126,1,0,4.75,3,0,3
4,BB,Business,Corporate,1,0,1,1,80.00,3,2017-08-30,...,1,SPA,0,126,1,0,4.75,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,BB,Leisure,TA/TO,0,0,1,2,342.00,4,2017-08-04,...,0,SPA,0,45,1,0,4.54,1,0,1
1008,BB,Leisure,TA/TO,1,0,1,2,328.00,4,2017-08-04,...,0,SPA,0,45,1,0,4.54,2,0,2
1009,BB,Leisure,TA/TO,1,0,1,4,743.96,4,2017-08-01,...,0,SPA,0,45,1,0,4.54,31,0,31
1010,HB,Leisure,TA/TO,1,0,1,1,231.00,4,2017-08-19,...,0,SPA,0,45,1,0,4.54,3,0,3
1011,BB,Leisure,Direct,1,0,1,1,230.00,4,2017-08-12,...,0,SPA,0,45,1,0,4.54,24,0,24